<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
<body>
    <nav id="nav-bar" class="bg-white dark:bg-gray-900 fixed w-full z-20 h-16 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
    </nav>

    <div id="main" class="h-screen pt-16">
        <!-- Aca van Los post -->
        <ul id="list" class="flex flex-col-reverse">
        </ul>

        <div id="comentario" class="flex flex-row gap-4 mx-auto" ></div>
        </div>

    </div>

    <script src="/components/nav.js"></script>
    <script src="index.js"></script>
</body>
</html>